.footer {
  background: $highlight;
  padding: 12rem 0rem 2rem 0rem;
  position: relative;
  overflow: hidden;

  .cta--btn {
    padding: 1.5rem 3rem;
    z-index: 10;
  }
  .cta-section {
    flex-direction: column;
    gap: 5.6rem;
    margin-bottom: 10.8rem;
  }
  .cta-section p {
    width: 90rem;
    text-align: center;
    z-index: 10;
  }
  .footer-menu h5 {
    margin-bottom: 1rem;
  }
  .footer-logo-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .logo img {
    width: 30rem;
  }
  .social-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .social-list img {
    width: 3rem;
    height: 3rem;
  }
  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8.1rem;
  }
  .footer-menus {
    display: grid;
    grid-auto-flow: column;
    gap: 12.8rem;
    margin-right: 17.2rem;
  }
  .footer-menu ul {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }
  .footer-menu a:hover {
    color: $grey--500;
  }
  .mb {
    margin-bottom: 2.4rem;
  }
  .copyright {
    color: $grey--500;
    text-align: center;
  }
  .copyright a:hover {
    color: $grey--400;
  }

  // SVGs
  .dots-svg {
    position: absolute;
    top: -10rem;
    left: -17rem;
  }
  .circles-svg {
    position: absolute;
    top: 16rem;
    right: -17rem;
    z-index: 0;
  }
}

// MEDIA QUERY
@media (max-width: 1200px) {
  .footer {
    .footer-menus {
      gap: 7rem;
      margin-right: 9.5rem;
    }
    .cta-section p {
      width: 67rem;
    }
  }
}

@media (max-width: 880px) {
  .footer {
    .logo {
      margin-left: 3rem;
    }
    .footer-nav {
      flex-direction: column;
    }
    .footer-logo-box {
      align-items: center;
      gap: 2.5rem;
      margin-bottom: 8rem;
    }
    .footer-menus {
      margin: 0;
      justify-items: center;
      gap: 0;
      width: 100%;
      align-self: center;
    }
    .cta-section p {
      width: 100%;
    }
    .cta-section h2 {
      text-align: center;
    }
  }
}

@media (max-width: 540px) {
  .footer {
    padding: 6rem 0rem 2rem 0rem;

    .footer-nav {
      margin-bottom: 5rem;
    }
    .footer-menus {
      grid-template-rows: 1fr 1fr 1fr;
      gap: 5rem;
    }
    .footer-menu .menu-item {
      display: flex;
      justify-content: center;
    }
    .dots-svg {
      display: none;
    }
    .circles-svg {
      top: 50%;
      right: -25rem;
    }
    .cta--btn {
      width: 100%;
      padding: 0.8rem 2.4rem;
    }
    .footer-logo-box {
      margin-bottom: 4rem;
    }
    .logo {
      width: 20.2rem;
    }
    .cta-section {
      gap: 2.5rem;
      margin-bottom: 6rem;
    }
  }
}
