.header {
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #menu-header-menu {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  #menu-header-menu li a:hover {
    color: $grey--500;
  }
  .header--btn {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
    align-items: center;
    width: 26.2rem;
    justify-content: flex-end;
  }
  .header--btn .hover:hover {
    color: $grey--500;
  }
  .current-menu-item {
    font-weight: 600;
  }
  .user-avatar {
    background: $grey--500;
    width: 5rem;
    height: 5rem;
    border-radius: 100px;
    overflow: hidden;
  }
  & .mobile-menu {
    display: none;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
  }
  & .cta-item {
    height: 0;
    overflow: hidden;
    align-items: center;
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* MOBIILE MENU STATES */
  & .mobile-menu .menu {
    width: 4rem;
    height: auto;
  }
  & .mobile-menu .close {
    width: 4rem;
    height: auto;
    display: none;
  }
  &.active .mobile-menu .menu {
    display: none;
  }
  &.active .mobile-menu .close {
    display: block;
  }
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #02020273;
  backdrop-filter: blur(4px);
  z-index: 50;
  transition: all 0.4s ease-out;
}
@media (max-width: 1450px) {
  .header {
    #menu-header-menu {
      gap: 2.5rem;
    }
    .header--btn {
      gap: 1.5rem;
    }
  }
}

@media (max-width: 1055px) {
  .header {
    .header--btn {
      width: 22rem;
    }
    .logo {
      width: 22rem;
    }
  }
}

@media (max-width: 880px) {
  .header {
    .header--btn {
      display: none;
    }

    & .cta-btns {
      display: none;
    }
    & .mobile-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & nav {
      position: absolute;
      background: #f3f4f6;
      width: 100vw;
      left: 0;
      display: flex;
      justify-content: center;
      z-index: 60;
      display: flex;
      flex-direction: column;
      align-items: center;

      /* HEIGHT OF NAV */
      top: 70px;
    }
    & #menu-header-menu {
      height: 0;
      opacity: 0;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      width: 100%;
      gap: 2rem;
      max-width: 130rem;
      padding: 0 3rem;
      justify-items: center;
      transition: all 0.4s ease-in-out;
    }
    & .menu-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.active #menu-header-menu {
      height: 18rem;
      opacity: 1;
      margin: 2rem 0 1rem 0;
    }
    &.active .cta-item {
      width: 90%;
      height: auto;
      margin-bottom: 2rem;
      border-top: solid 1px #e5e7eb;
      padding-top: 1rem;
    }
    & .nav-menu a {
      text-align: center;
      width: 100%;
    }
    & .cta--btn {
      width: 100%;
      border-radius: 10px;
    }
  }
}

@media (max-width: 540px) {
  .header {
    .container {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    .logo img {
      width: 20.8rem;
    }
  }
}
